.my_search{
  margin-left: 300px;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: #EFEDEC;
    text-align: center;
}
.navbar-brand{
  font-size: 28px;
}
.card{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    width:100%;
    height: 100%;
    padding-bottom: 20px;
}
img{
  width: 100%;
  height: 100%;
}
.picture{
  margin-bottom: 20px;
}
.detail{
  margin-bottom: 20px;
  margin-left: 60px;
}
.mynav{
    height:80px;
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    background-color: #CAB9F3;
}
a{
  color: black;
}
h4{
  margin-top: 30px;
}