<nav class="navbar mynav navbar-expand-lg">
  <a class="navbar-brand" href="#">TwendeMars</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav my_search mr-auto">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control my_searchbar mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cameras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'fhaz' %}">fhaz</a>
          <a class="dropdown-item" href="{% url 'navcam' %}">navcam</a>
          <a class="dropdown-item" href="{% url 'mast' %}">mast</a>
          <a class="dropdown-item" href="{% url 'chemcam' %}">chemcam</a>
          <a class="dropdown-item" href="{% url 'rhaz' %}">rhaz</a>
          <a class="dropdown-item" href="{% url 'september' %}">september</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
               {% if user.is_authenticated %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#}">Create Profile</a>
          <a class="dropdown-item" href="#">{{ user.username }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
          <a class="dropdown-item" href="/accounts/password/change">Change Password</a>

        </div>
              {% else %}
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/accounts/login">Login</a>
          <a class="dropdown-item" href="/accounts/register">Register</a>
        </div>
                    {% endif %}
      </li>
    </ul>
    

  </div>
</nav>
